<div id="board-body" class="full">
  <div class="row no-margin">
    <div class="flex flex-center full no-margin">
      <list-player-comp (OpenPlayer)="openModalPlayer($event)" [size-comp]="player_list_size" [players]="board.listPlayer"></list-player-comp>
      <div class="flex flex-column padding-top" style="justify-content: flex-start;height:100%;">
        <div [ngStyle]="myStyles" class="flex padding-top">
          <div class="clock">
            <app-countdown [config-comp]="configCountdown" (start)="onStart()" (finished)="onFinished()" [size-comp]="countdown_size"></app-countdown>
          </div>
          <button mat-flat-button color="primary" [ngStyle]="buttonStyles" style="margin-top:5px" [disabled]="!canAccess()"
            (click)="openModal()">{{'player.action.get'|translate}}</button>
          <button mat-flat-button color="warn" [ngStyle]="buttonStyles" style="margin-top:5px" [disabled]="!canAccess()"
            (click)="openModalpassTurn()">{{'player.action.pass'|translate}}</button>
        </div>
        <list-material-comp style="margin-top: 5px;border-radius: 20px;border: solid;" class="pointer" (click)="openModal()"
          [size-comp]="material_list_size" [materials]="board.listToken"></list-material-comp>
      </div>
      <list-nobletile-comp [size-comp]="nobletile_list_size" [nobletiles]="board.listNobletile"></list-nobletile-comp>
      <list-card-comp (clickCard)="openModalCard($event)" [size-comp]="card_list_size" [cards]="board.listCards"
        (action)="action($event)"></list-card-comp>

    </div>
  </div>
</div>