<h1 mat-dialog-title>
  {{player.name}}
</h1>
<mat-dialog-content style="width:400px">
  <div class="flex flex-row">
    <icon-comp *ngFor="let material of player.materials" class="token" [size-comp]="token_size" [token_id]="material.token_id"
      [count]="material.count" style="flex: 1" class="flex flex-center"></icon-comp>
  </div>
  <h3>Hold</h3>
  <div class="flex flex-row" style="flex-wrap:wrap">
    <div *ngFor="let card of player.listHoldCard" class="card-hold" style="margin-right: 2px;margin-bottom: 2px;">
      <card-comp [card]="card" [size-comp]="card_size"></card-comp>
      <button [disabled]="!canBuyCard(card)" class="btn button-buy" (click)="buyHoldCard(card)">Buy</button>
    </div>

  </div>
  <h3>Buy</h3>
  <div class="flex flex-row" style="flex-wrap:wrap">
    <card-comp style="margin-right: 2px;margin-bottom: 2px;" *ngFor="let card of player.listCard" [card]="card"
      [size-comp]="card_size"></card-comp>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>close</button>
</mat-dialog-actions>