<div [ngStyle]="myStyles" class="flex flex-column">
  <div class="header flex flex-row" style="justify-content:space-between;align-items: baseline;">
    <div class="name">
      {{player.name}}
    </div>
    <div class="point count" style="font-size: 2em;">
      {{player.point}}
    </div>
  </div>
  <div class="body">
    <div class="flex flex-row" [ngStyle]="listTokenStyles">
      <icon-comp *ngFor="let material of player.materials" class="token" [size-comp]="token_size" [token_id]="material.token_id"
        [count]="material.count" style="flex: 1" class="flex flex-center"></icon-comp>
    </div>
    <div class="flex flex-row" [ngStyle]="listTokenStyles">
      <icon-comp class=" token" [size-comp]="token_size" token_id="0" [count]="player.listNobletile.length" type='rectangle'
        [center]="'icon'" style="flex: 1" class="flex flex-center">
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
      </icon-comp>

      <icon-comp *ngFor="let material of player.product" class="token" [size-comp]="token_size" [token_id]="material.token_id"
        type='rectangle' [count]="material.count" [center]="'number'" style="flex: 1" class="flex flex-center"></icon-comp>
    </div>
  </div>
</div>