<div [ngStyle]="myStyles">
  <div class="header flex flex-row" style="justify-content:space-between;align-items: baseline;">
    <div class="name">
      {{player.name}}
    </div>
    <div class="point count" style="font-size: 2em;">
      {{player.point}}
    </div>
  </div>
  <div class="body">
    <div class="flex flex-row flex-center" [ngStyle]="listTokenStyles">
      <icon-comp *ngFor="let material of player.materials" class="token" [size-comp]="token_size" [token_id]="material.token_id"
        [count]="material.count"></icon-comp>
    </div>
    <div class="flex flex-row flex-center" [ngStyle]="listTokenStyles">
      <icon-comp class=" token" [size-comp]="token_size" token_id="0" [count]="player.listNobletile.length" type='rectangle'
        [center]="'icon'">
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
      </icon-comp>

      <icon-comp *ngFor="let material of player.product" class="token" [size-comp]="token_size" [token_id]="material.token_id"
        type='rectangle' [count]="material.count" [center]="'number'"></icon-comp>
    </div>
  </div>
</div>