<header>
  <nav class="navbar navbar-default" style="margin-bottom:0px">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/">
          <img src="assets/img/favicon.ico" class="logo">
        </a>
        <span class="navbar-brand">{{'title'|translate}}</span>
        <mat-form-field>
          <mat-select (selectionChange)="changeLang($event.value)" [(ngModel)]="lang">
            <mat-option value="en">en</mat-option>
            <mat-option value="vi">vi</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </div>
  </nav>
</header>