<div [ngStyle]="myStyles" class="flex flex-column">
  <div class="flex flex-row" style="justify-content: space-between; align-items: center">
    <div class="count" style="font-size: 2em;">
      {{card.value.point}}
    </div>
    <icon-comp class="token" [size-comp]="token_size" [token_id]="card.value.token_id"></icon-comp>
  </div>
  <div class="price">
    <icon-comp *ngFor="let price of card.price" class=" token" [size-comp]="token_size" [token_id]="price.token_id"
      [count]="price.count" [center]="'number'"></icon-comp>
  </div>
</div>