<div class="row no-margin" (keydown.enter)="$event.preventDefault()">
  <form [formGroup]="settingForm">
    <div class="flex flex-center full">
      <div class="flex flex-start flex-column" style="min-height:400px">
        <div class="box">
          <div class="box-header">{{'setting.title'|translate}}</div>
          <div class="box-body menu" style="text-align: center;">
            <div class="item-flex item">
              <span>({{'word.#player'|translate}}: </span>
              <mat-form-field style="width: 40px;padding-right: 5px; ">
                <mat-select formControlName="selectMaxPlayer" placeholder="#" [(ngModel)]="data.maxPlayer"
                  (selectionChange)="selectMaxPlayerChanger($event)">
                  <ng-container *ngFor="let i of array">
                    <mat-option [value]="i" *ngIf="i > 1">{{i}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              <span> ({{'word.with'|translate}} </span>
              <mat-form-field style="width: 40px;padding-right: 5px; ">
                <mat-select formControlName="selectMaxCpu" placeholder="#" [(ngModel)]="data.maxCpus" (selectionChange)="selectCpuChanger($event)">
                  <ng-container *ngFor="let i of array">
                    <mat-option [value]="i" *ngIf="i < data.maxPlayer">{{i}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              <span> CPUs)</span>
            </div>
            <div class="item-flex item">
              <span>{{'setting.gamespeed'|translate}}:</span>
              <mat-form-field style="padding-left: 5px; ">
                <mat-select formControlName="selectTimeOneTurn" placeholder="#" [(ngModel)]="data.timeOneTurn">
                  <mat-option *ngFor="let game_speed of game_speeds" [value]="game_speed">{{game_speed}}
                    {{'word.mins'|translate}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="item-flex item">
              <span>{{'setting.targetscore'|translate}}:</span>
              <mat-form-field style="padding-left: 5px; ">
                <mat-select formControlName="selectScore" placeholder="#" [(ngModel)]="data.maxPointWin">
                  <mat-option *ngFor="let target_score of target_score " [value]="target_score">{{target_score}}
                    {{'word.score'|translate}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="item-flex item">
              <button mat-flat-button color="primary" (click)="Submit()" [disabled]="!canSubmit">{{'play'|translate}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-start flex-column menu" style="min-height:400px">
        <div class="box">
          <div class="box-header">
            {{'player.list'|translate}}
          </div>
          <div class="box-body menu">
            <div formArrayName="items" *ngFor="let item of formListPlayerArray.controls; let i = index;">
              <div [formGroupName]="i">
                <mat-form-field style="width: 40px;padding-right: 5px; ">
                  <mat-select placehlder="#" formControlName="order" [(ngModel)]="orderList[i].order"
                    [errorStateMatcher]="checkError" (selectionChange)="selectOrderChange($event)">
                    <ng-container *ngFor="let a of array">
                      <mat-option [value]="a" *ngIf="a <= data.maxPlayer&&a>0">{{a}}</mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-icon matPrefix class="fa" [ngClass]="setClass(item.value.type)" style="margin-right:5px"></mat-icon>
                  <input matInput placeholder="
                  {{'player.name'|translate}}" [(ngModel)]="orderList[i].player.name"
                    formControlName="name" autocomplete="off">
                </mat-form-field>
                <mat-error style="margin-top: -15px" *ngIf="check(orderList[i].order)">
                  {{'error.order.duplicated'|translate}}
                </mat-error>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>