<div class="row no-margin">
  <div class="flex flex-column flex-center full menu">
    <div class="icon">
      <img style="height:30vh;" src="assets/icon/icon.svg" alt="icon">
    </div>
    <div class="title" style="font-size:5vh">
      {{'title'|translate}}
    </div>
    <div class="menu-button flex flex-column">
      <button mat-flat-button color="primary" (click)="play()">
        {{'play'|translate}}</button>
      <button mat-flat-button color="primary" (click)="howtoplay()">{{'howtoplay'|translate}}</button>
      <button mat-flat-button color="primary" (click)="about()">{{'about'|translate}}</button>
    </div>
  </div>
</div>