<div>
  <div class="row no-margin">
    <div class="col-md-4">
      <div class="player-list">
        <player-comp *ngFor="let player of players" [player]="player"></player-comp>
      </div>
    </div>
    <div class="col-md-1">
      <div class="token-list">
        <div *ngFor="let token of materials" class="token">
          <div style="margin: auto;text-align: center;">
            {{tokensCount[token.id]}}
          </div>
          <div style="margin: auto;text-align: center;">
            <icon-comp size="" [token]="token"></icon-comp>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-6">

    </div>
  </div>
</div>