.token>*,
.token-list>.token {
  display: inline-block;
}

.count {
  margin: auto;
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.token {
  position: relative;
}

.count {
  position: absolute;
  bottom: 0px;
}

.name {
  font-size: 24px;
}