<div [ngStyle]="myStyles">
  <div class="name">
    {{player.name}}
  </div>
  <div class="token-list">
    <div *ngFor="let material of player.materials" class="token" [ngStyle]="tokenStyles">
      <div class="count" [ngStyle]="countStyles">{{material.count}}</div>
      <icon-comp [size-comp]="token_size" [token]="material.token"></icon-comp>
    </div>
  </div>
  <div class="token-list">
    <div *ngFor="let material of player.materials" class="token" [ngStyle]="tokenStyles">
      <div class="count" [ngStyle]="countStyles">{{material.count}}</div>
      <icon-comp [size-comp]="token_size" [token]="material.token"></icon-comp>
    </div>
  </div>
</div>