<div [ngStyle]="myStyles">
  <div class="name">
    {{player.name}}
  </div>
  <div class="token-list" [ngStyle]="listTokenStyles">
    <icon-comp *ngFor="let material of player.materials" class="token" [size-comp]="token_size" [token]="material.token"
      [count]="material.count"></icon-comp>
  </div>
  <div class="token-list" [ngStyle]="listTokenStyles">
    <icon-comp *ngFor="let material of player.materials" class="token" [size-comp]="token_size" [token]="material.token"
      [count]="material.count" [center]="'number'"></icon-comp>
  </div>
</div>