/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.no-padding {
  padding: 0 !important
}

.no-margin {
  margin: 0 !important;
}

.row {
  display: flex;
  width: 100vw;
  height: 100%;
}

body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.flex {
  display: flex
}

.flex-row {
  flex-direction: row,
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center
}

.count {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.pointer {
  cursor: pointer;
}

.flex>.item-flex {
  flex: 0 1 auto;
}