/* You can add global styles to this file, and also import other style files */

.no-padding {
  padding: 0 !important
}

.no-margin {
  margin: 0 !important;
}

.row {
  width: 100vw;
  height: 100%;
}

body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.flex {
  display: flex
}

.flex-row {
  flex-direction: row,
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center
}

.text-white {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.pointer {
  cursor: pointer;
}

.flex>.item-flex {
  flex: 0 1 auto;
}

.full {
  width: 100%;
  height: 100%;
}

.menu>.item {
  margin-bottom: 10px;
}

.padding-top {
  padding-top: 5px;
}

.background-color {
  background-color: #CCE2FF;
}

.custom-matdialog .mat-dialog-container {
  background-color: #CCE2FF;
}

.scroll-bar {
  overflow-y: hidden;
}

.scroll-bar:hover {
  overflow-y: auto
}
